@font-face {
  font-family: "Chubby Choo";
  font-style: normal;
  font-weight: 400;
  src: local("Chubby Choo"), local("Chubby Choo-Regular"),
    url("/fonts/Chubby Choo/font/ChubbyChoo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chubby Choo";
  font-style: bold;
  font-weight: 400;
  src: local("Chubby Choo bold"), local("Chubby Choo-Bold"),
    url("/fonts/fonts/Chubby Choo/font/ChubbyChoo-SemiBold.ttf")
      format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Chubby Choo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Chubby Choo;
}
